## Xcode
xcuserdata
*.xcuserstate
*.xcbkptlist
*.xcworkspace
*.bak

## Project
*.xcodeproj

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Mac OSX
.DS_Store

## Other
*.moved-aside

## Ruby
.ruby-version

## Git
*.orig

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
.build/

## CocoaPods
Pods/

## Carthage
Carthage/Checkouts
Carthage/Build

## Tuist
Tuist/Dependencies/graph.json
Tuist/Dependencies/Carthage
Tuist/Dependencies/SwiftPackageManager
Tuist/Dependencies/Cocoapods

## Fastlane
fastlane/report.xml
fastlane/test_output/*
fastlane/Appfile
fastlane/Matchfile
fastlane/Deliverfile

## Slather Code Coverage
CoverageReport

## Firebase Config file
firebase-crashreporting.json
