# file options
--exclude Pods
--exclude SWDestiny\ Trades/Classes/Generated

# Rules
--disable blankLinesAtStartOfScope
--disable trailingCommas
--disable unusedArguments
--disable wrapMultilineStatementBraces
