# file options
--exclude Pods
--exclude SWDestinyTrades/Classes/Generated

# Rules
--disable blankLinesAtStartOfScope
--disable trailingCommas
--disable unusedArguments
--disable wrapMultilineStatementBraces
--disable redundantReturn
