github "AliSoftware/Reusable"
github "danielgindi/Charts"
github "liufengting/FTPopOverMenu_Swift"
github "Moya/Moya" "13.0.0-beta.1"
github "onevcat/Kingfisher" "4.10.1"
github "pkluz/PKHUD"
github "raulriera/TextFieldEffects"
github "realm/realm-cocoa"
github "SnapKit/SnapKit"
github "SwiftKickMobile/SwiftMessages"
github "zvonicek/ImageSlideshow"

# Tests
github "Quick/Quick"
github "Quick/Nimble"
github "ashfurrow/Nimble-Snapshots" "6.9.1"
github "uber/ios-snapshot-test-case" "5.0.2"
