github "AliSoftware/Reusable"
github "danielgindi/Charts"
github "liufengting/FTPopOverMenu_Swift"
github "Moya/Moya"
github "onevcat/Kingfisher"
github "pkluz/PKHUD"
github "raulriera/TextFieldEffects"
github "realm/realm-cocoa"
github "SnapKit/SnapKit"
github "SwiftKickMobile/SwiftMessages"
github "zvonicek/ImageSlideshow"

# Tests
github "Quick/Quick"
github "Quick/Nimble"
github "uber/ios-snapshot-test-case"
