<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>264462743734-16h6htqa31q21mqsisop9bu9lefs664u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264462743734-16h6htqa31q21mqsisop9bu9lefs664u</string>
	<key>API_KEY</key>
	<string>AIzaSyASVz1xvZAu61M6GuxIK-cMhUISW9et9IE</string>
	<key>GCM_SENDER_ID</key>
	<string>264462743734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.anykey.SWDestiny-Trades</string>
	<key>PROJECT_ID</key>
	<string>star-wars-destiny-trades</string>
	<key>STORAGE_BUCKET</key>
	<string>star-wars-destiny-trades.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:264462743734:ios:55fa842f99fbef66</string>
	<key>DATABASE_URL</key>
	<string>https://star-wars-destiny-trades.firebaseio.com</string>
</dict>
</plist>
